<!-- <app-navbar></app-navbar> -->

<div class="body">
 <img class="Acciom" src="/assets/images/group.png" /> 
    <mat-card class="card">
            <!-- <div class="heading" > Log In Yourself -->
        <form class="form" [formGroup]="createForm">
             
            <mat-form-field class="example-full-width">
                
                <input type="email" autocomplete="off" matInput formControlName="email">
                <mat-placeholder class="placeholder">Email </mat-placeholder>
                <mat-error>Please enter valid email Id</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="password" autocomplete="off" matInput  formControlName="password">
                <mat-placeholder class="placeholder">Password </mat-placeholder>

                <mat-error>Please enter valid password</mat-error>
            </mat-form-field>
            <button mat-raised-button (click)="LogIn()" class="loginbtn"><div class="Log-in">Log in</div></button>
        </form>
         <button mat-button color="primary" (click)="signup()" class="signupbtn"><div class="Signup">Signup</div> </button>
        <button mat-button (click)="forgot_password()">Fogot Password?</button>
    </mat-card>
</div>

