<div class="body">
  <img class="Acciom" src="/assets/images/group.png" /> 
     <mat-card class="card">
             <!-- <div class="heading" > Log In Yourself -->
         <form class="form" [formGroup]="createForm">
              
             <mat-form-field class="example-full-width">
                 
                 <input type="text" autocomplete="off" matInput formControlName="password">
                 <mat-placeholder class="placeholder">Password </mat-placeholder>
                 <mat-error>please enter valid password</mat-error>
             </mat-form-field>
             <mat-form-field class="example-full-width">
                 
              <input type="text" autocomplete="off" matInput formControlName="confirm_password">
              <mat-placeholder class="placeholder"> Confirm Password </mat-placeholder>
              <mat-error>please enter valid password</mat-error>
          </mat-form-field>
             <button mat-raised-button (click)="reset_password()" class="loginbtn"><div class="Log-in">Password Reset</div></button>
         </form>
     </mat-card>
 </div>
 
 