<mat-toolbar class="nav"> <div class="yellowcss"> <button  mat-button (click)="refresh()" class="heading" >
  Acciom Tool  <img  src="assets/images/accion1.png">
  
</button></div> 
  <!-- <button  class='loginbut' mat-button color="primary" (click)="logout()" >Logout</button> -->
  
  <div class="dropdown">
      <button mat-button color="primary" class="dropbtn">Account<i class="material-icons">
          account_circle
          </i>
          
          </button>
      <div class="dropdown-content">
        <a (click)="logout()">Logout</a>
        <a (click) ="Userdetail()" >User Details</a>
        <a href="#">More</a>
        
      </div>
    </div>
   
    

</mat-toolbar>
  <!-- <button *ngIf="!login" class='loginbut' mat-button color="primary" >Logout</button> -->

