<!-- <app-navbar></app-navbar> -->

<div class="body">
    <img class="Acciom" src="/assets/images/group.png" /> 
       <mat-card class="card">
               <!-- <div class="heading" > Log In Yourself -->
           <form class="form" [formGroup]="createForm">
                
               <mat-form-field class="example-full-width">
                   
                   <input type="password" autocomplete="off" matInput formControlName="old_password">
                   <mat-placeholder class="placeholder">Old Password </mat-placeholder>
                   <mat-error>Enter Old Password</mat-error>
               </mat-form-field>
   
               <mat-form-field class="example-full-width">
                   <input type="password" autocomplete="off" matInput  formControlName="password">
                   <mat-placeholder class="placeholder">New Password </mat-placeholder>
   
                   <mat-error>Enter New Password</mat-error>
               </mat-form-field>
               <mat-form-field class="example-full-width">
                <input type="password" autocomplete="off" matInput  formControlName="confirm_password">
                <mat-placeholder class="placeholder"> Confirm Password </mat-placeholder>
  
                <mat-error>Enter Password</mat-error>
            </mat-form-field>
            <div class="btn-class">
              
              <button mat-raised-button (click)="gobacktohome()" class="goback"><div class="Go-Back">Go Back</div></button>
              <button mat-raised-button (click)="changepassword()" class="loginbtn" [disabled]='!createForm.valid'>Change Password</button>
            </div>
               
           </form>
       </mat-card>
   </div>