<!-- <app-navbar></app-navbar> -->

<div class="body">
  <img class="Acciom" src="/assets/images/group.png" /> 
     <mat-card class="card">
             <!-- <div class="heading" > Log In Yourself -->
         <form class="form" [formGroup]="createForm">
              
             <mat-form-field class="example-full-width">
                 
                 <input type="password" autocomplete="off" matInput formControlName="old_password">
                 <mat-placeholder class="placeholder">old password </mat-placeholder>
                 <mat-error>please enter valid email</mat-error>
             </mat-form-field>
 
             <mat-form-field class="example-full-width">
                 <input type="password" autocomplete="off" matInput  formControlName="password">
                 <mat-placeholder class="placeholder">Password </mat-placeholder>
 
                 <mat-error>please enter valid password</mat-error>
             </mat-form-field>
             <mat-form-field class="example-full-width">
              <input type="password" autocomplete="off" matInput  formControlName="confirm_password">
              <mat-placeholder class="placeholder"> confirm Password </mat-placeholder>

              <mat-error>please enter valid password</mat-error>
          </mat-form-field>
             <button mat-raised-button (click)="changepassword()" class="loginbtn"><div class="Log-in">Change password</div></button>
         </form>
     </mat-card>
 </div>
 
 