<app-navbarlogout></app-navbarlogout>
<div class="card">
    
    <mat-card class="for-form">
        <mat-card-title class="title">User Details<hr></mat-card-title>
        
      <table class="tableStyle">
        <tr>
        <th>Name:</th>
        <th >{{  name }}</th>
      </tr>
      <tr>
          <th>Email:</th>
          <th>{{ email }}</th>
        </tr>
      <tr><td colspan="2"><br>
        <button mat-button class="closebtn" (click)="closed()" color="warn">
        Close</button>
      </td></tr>
      </table>
      

    </mat-card>


</div>
