.users{
    margin-left: 7px;
    width:100%;
}
.mat-form-field{
    margin-left: 7px;
    width:10%;
}
.error-NoSuite{
    background: #c51244 ;
    padding: 10px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 1px black;
    color:white;
    width:18%;
    font-weight: 100;
    margin-left: 7px;
}
.main1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

}
.mat-card{
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 400px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    width:100%; 
}
li{
    margin:0.5em;
    padding: 0.5em;
    flex-basis: 0 0 20%;
}
/* li:nth-of-type(1){
    margin:0.5em;
    padding: 0.5em;
    flex-basis: 0 0 50%; 
} */
.clearicon{
    float:right;
    margin-right: 10px;
    background-color:orange;
}
.suitename{
    margin-left:7px;
    
}

.testcase{
    margin-left:7px;
    background: #c51244 ;
    padding: 4px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 1px black;
    color:white;
      width:17%;
    font-weight: 100;  
}
.btn3{
    float:right;
    margin-right: 10px;
}
table {
    border:2px solid grey ;
    border-collapse: initial;
    width: 99%;
    margin-left: 7px;
    table-layout: fixed;
    word-break: break-word;
    font-family:'OpenSans-SemiBold',sans-serif;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  td, th {
    padding: 10px;
    text-align: left;
    margin: 0;
    position: sticky;
    font-style: normal;
  }
  
  tbody tr:nth-child(2n){
    background-color: #eee;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
  }
  input{
    width: 100%;
}
textarea{
    width: 100%;
}
.body{
    display: flex;
}
