<div class="body">
  <img class="Acciom" src="/assets/images/group.png" /> 
     <mat-card class="card">
             <!-- <div class="heading" > Log In Yourself -->
         <form class="form" [formGroup]="createForm">
              
             <mat-form-field class="example-full-width">
                 
                 <input type="email" autocomplete="off" matInput formControlName="email">
                 <mat-placeholder class="placeholder">Email </mat-placeholder>
                 <mat-error>please enter valid email</mat-error>
             </mat-form-field>
             <button mat-raised-button (click)="reset_password_request()" class="loginbtn"><div class="Log-in">Request Password Reset</div></button>
         </form>
     </mat-card>
 </div>
 
 