<div class="app-home-container">
<app-navbarlogout></app-navbarlogout>
    <div  class="card">
<div class="form-group">
    <mat-card class="for-form">
            <div class="card-title">           
                <img class="upload-image" src="/assets/images/group-3.png"/>
                    <mat-card-title class="title">
                        <div class="title-content"> Downlaod Sample File <button  mat-button class="btndownlaod1" color="accent" (click)="downloadFile()">Here!</button> </div>
                    </mat-card-title>
                        <button mat-button class="closebtn" (click)="closed()">
                            <i class="material-icons">close
                            </i>
                        </button>
            </div>
            <div mat-button (click)="file.click()" class="Upload-File-Box"> 
                <div  class="Upload-File-Box-content">
                    Upload Your File Here
                </div>
            </div>
            <div>
            <input type="file" 
            [(ngModel)]='filevalue'
            class="file" style="display:none;"
            (change)="incomingfile($event)" 
            placeholder="Upload file" accept=".xlsx" #file>
            </div> 
    </mat-card>

    <div *ngIf="show">
        <mat-card class="result-card">
            <h2>Select The Page:</h2>
            <div *ngFor="let page of Pages">
                <mat-radio-button  value="{{ page }}"
                (change)="selectradio(page)">{{page}}</mat-radio-button><br><br>
            </div>
            <button
                class="btn-next" 
                mat-raised-button [disabled]="disable"  (click)="Next(selectedradio)">
                <div class="btn-content">Next</div>
            </button>
        </mat-card>
    </div>
    <div *ngIf="show1">
        <mat-card class="result-card">
            <p class="result">{{ msg }}</p>
            <table *ngIf="show1" class="cright" cellspacing=12>
                <div *ngIf="afterupload">
                    <tr class="afterupload-showtestcase">
                        <th>TestCase</th>
                        <th>Check</th>
                        <th>Select All</th>
                        <input id="checkid" type="checkbox" (change)="selectAll()" [checked]="selectedAll" > 
                    </tr>
                    <tr *ngFor=" let case of all_cases" class="cright">

                        <td >{{ case.name }}</td>
                        <td>   <input class="form-check-input" 
                            value="{{ case.name }}" 
                            [(ngModel)]="case.selected"  type="checkbox" (change)="selectBadge($event, case.name)" >
                        </td>
                    </tr>
                </div>
                <div class="btn-container">
                    <button mat-raised-button  class="uploadbtn" color="primary" [disabled]="disable2" (click)="OnClick(0)" ><div class="btn-content">Upload</div></button> 
                    <button mat-raised-button class="uploadexecute" color="primary" [disabled]="disable2" (click)="OnClick(1)" ><div class="btn-content">Upload And Execute</div></button> 
                </div>
                <p>{{ result }}</p>
                <div *ngIf="dis">
                <h4>Test Cases To be Tested</h4>
                </div>
            </table>
            <!-- <div *ngFor="let x of selectedValue "> {{ x.testCases }}</div> -->
        </mat-card>
    </div>
        
</div>     
</div>


</div>