.card{
 
  background-color: #eee;
  display:flex;
  justify-content: center;
  padding-top:10px;
  background-image: linear-gradient(to bottom right, #050505, #373636);
  float:left;
    width:100%;
  
    height:100vh;
}

@media screen and (min-height:100vh)
{
  .card{
 
    background-color: #eee;
    display:flex;
    justify-content: center;
    padding-top:10px;
    background-image: linear-gradient(to bottom right, #050505, #373636);
    float:left;
      width:100%;
      height:90vh;
  }
  
}

.file{
  margin-bottom: 5px;
}


input, label {
    display: block;
    border:2px solid black;
  }
  
  input[type=file]::-webkit-file-upload-button {
    border: 0.3px solid grey;
    background: rgb(20, 20, 20);
    font-family:'Open Sans', sans-serif;
    color:white;
  }
  .btn{
    background: rgb(20, 20, 20);
    color:white;
  }

  .res{
    font-size:20px;
    letter-spacing: 1px;
    font-weight: 10px;
  }
  .result{
    font-size: size 20px;
    font-weight: 600;
    font-family:'Open Sans', sans-serif;
    align-content: center
    /* font-family:inherit */
  }
  .result-card{
    min-width:300px;
    min-height:200px;
    border:2px solid black;
  }

  .cright{
    text-align: center;
    margin: 12px 12px 12px 12px;
}

.testcase{
  text-align: center
}
.uploadbtn{
  margin-right:15px;
}

.for-form{
  border:2px solid black; 
}
.closebtn{
  background-color: rgb(246, 153, 153);
  float:right;
  opacity: 1.6;
  transition: 0.3s;
}
.closebtn:hover{
  opacity:0.5;
}
.btndownlaod{
    font-family: 'Open Sans', sans-serif;
    position:relative;
    text-align:center;
    color:black;


}
.btndownlaod1{
  font-family: 'Open Sans', sans-serif;
    position:relative;
    text-align:center;
    color:red;
    font-size: 18px;
}
.btndownlaod1:hover{
  opacity: 1.6;
  transition: 0.3s;
  color:blue
}