<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding: 0 2em;
    font-family: Arial, sans-serif;
    background: #f2f2f2;">
<div style="margin-top:5px;font-family: OpenSans;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #2f2f2f;">
    Almost done,&nbsp; <b>{{name}}</b>! &nbsp; To complete your Acciom sign up,
    we
    just need to verify your email address: {{email}}
</div>
<br>
<a href="{{links}}" style="  background-color: #4220D9;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;border-radius:4px;"> Verify email address</a>
<br>

<br>
Once verified, you can start using all of Acciom. <br>
Button not working? Paste the following link into your browser : {{ links
}}
<br>
<br>
<div style="color:black">You’re receiving this email because you recently
    created a
    new Acciom
    account. If this wasn’t you, please ignore this email.
</div>


</body>
</html>