<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>

<div style="padding:0 2em;font-family:Arial,sans-serif;color:#024457;background:#f2f2f2">
    <div>
        <h1>
            Acciom Tool Test Run Result
        </h1>
        <div>
            Report Name: <strong>Sample Test</strong>
        </div>
        <div>
            Report Id: <strong>100038948745</strong>
        </div>
    </div>

    <table style="margin:1em 0;width:100%;overflow:hidden;background:#fff;color:#024457;border-radius:10px;border:1px solid #167f92;display:table;border-collapse:separate;border-spacing:2px;border-color:grey">
        <tbody>
        <tr style="border:1px solid #d9e4e6">
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                SR No
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Test Class
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Description
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Source Table
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Target Table
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Result Status
            </th>
            <th style="border:1px solid #fff;background-color:#167f92;color:#fff;padding:1em">
                Result Description
            </th>
        </tr>

        <tr style="border:1px solid #d9e4e6;background-color:#eaf3f3">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                1
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Check
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Verification
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                src_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                dest_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:green">
                <strong>Success</strong>
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Successfully Run
            </td>
        </tr>

        <tr style="border:1px solid #d9e4e6">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                2
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Check
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Verification
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                src_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                dest_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:#ca7f2d">
                <strong>Fail</strong>
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Successfully Run
            </td>
        </tr>

        <tr style="border:1px solid #d9e4e6;background-color:#eaf3f3">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                3
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Check
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Verification
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                src_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                dest_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:#821f1f">
                <strong> Error</strong>
            </td>
            <td align="center">Successfully Rundsfadfsdfdsfsdffsdf</td>
        </tr>

        <tr style="border:1px solid #d9e4e6">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                3
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Check
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Count Verification
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                src_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                dest_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:#821f1f">
                <strong> Error</strong>
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                Successfully Rundsfadfsdfdsfsdffsdf
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>