<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding: 0 2em;
    font-family: Arial, sans-serif;
    background: #f2f2f2;">
<br>
<br>
<div style=" font-family: Helvetica, Arial, serif;

  font-size: 20px;

  color: #2f2f2f;">
    Almost done,&nbsp; <b>{{name}}</b>! &nbsp;
    <br><br>
    To complete your Acciom sign up,
    we
    just need to verify your email address: {{email}}
</div>
<br>
<a href="{{links}}" style="  background-color: #4220D9;
    align-content:center;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;border-radius:4px;"> Verify email address</a>
<br>
<br>
<div style="font-size: 14px;
font-family: Helvetica, Arial, serif;
color: black;">
    Once verified, you can start using all of Acciom. <br> <br>
    Button not working? Paste the following link into your browser : {{ links
    }}
</div>
<br>
<br>
<div style="color:black">You’re receiving this email because you recently
    created a
    new Acciom
    account. If this wasn’t you, please ignore this email.
</div>
<br>
<br>

</body>
</html>