<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!doctype html>

<html>
<head>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body style="padding: 0 2em;
    font-family: Arial, sans-serif;
    background: #f2f2f2;">

<div style="padding:0 2em;font-family:Arial,sans-serif;color:#024457;background:#f2f2f2">
    <div>
        <h1>
            Acciom Quality Suite Results
        </h1>
        <div>
            Suite Name: <strong>{{suite_name}}</strong>
        </div>
        <div>
            Suite ID: <strong>{{suite_id}}</strong>
        </div>
        <div>
            Completed : <strong>{{executed_at}}</strong>
        </div>
    </div>

    <table style="margin: 1em 0;
        width: 100%;
        overflow: hidden;
        background: #FFF;
        border-radius: 10px;
        border: 1px solid #167F92;
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;" table>
        <tbody>
        <tr style="border:1px solid #d9e4e6">
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                SR No
            </th>
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                Test Class
            </th>
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                Description
            </th>
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                Source Table
            </th>
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                Target Table
            </th>
            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">
                Result Status
            </th>
            <!--            <th style="border:1px solid #fff;background-color:#b72e34;color:#fff;padding:1em">-->
            <!--                Result Description-->
            <!--            </th>-->
        </tr>
        {% if content['Test_Name']|length > 1 %}
        {% for test_class,description,src_table, dest_table,result in
        zip_content
        %}
        <tr style="border:1px solid #d9e4e6;background-color:#eaf3f3">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{loop.index}}
            </td>

            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{ test_class }}
            </td>

            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{description}}
            </td>

            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{ src_table }}
            </td>

            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{ dest_table }}
            </td>

            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:green">
                {% if result == 1 %}
                <strong style="color:green">Pass</strong>
                {% elif result == 2 %}
                <strong style="color:red">Fail</strong>
                {% else %}
                <strong style="color:orange"> Error</strong>
                {% endif %}
            </td>

            <!--            <td align="center"-->
            <!--                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">-->
            <!--                Successfully Run-->
            <!--            </td>-->
        </tr>
        {% endfor %}
        {% else %}
        <h1>Came in else</h1>

        <tr style="border:1px solid #d9e4e6;background-color:#eaf3f3">
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                1
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{ content['Test_Name'][0] }}
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                {{ content['Test_Description'][0] }}
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                src_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">
                dest_inventory
            </td>
            <td align="center"
                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6;color:green">
                <strong>{{ content['Test_status'][0] }}</strong>
            </td>
            <!--            <td align="center"-->
            <!--                style="padding:1em;display:block;word-wrap:break-word;max-width:7em;display:table-cell;text-align:center;border-right:1px solid #d9e4e6">-->
            <!--                Successfully Run-->
            <!--            </td>-->
        </tr>
        {% endif %}

        </tbody>
    </table>
<!--    <div>-->
<!--        Log Details-->
<!--    </div>-->

<!--    {% if  Null_display  %}-->
<!--        {% if Null_display |length == 1 %}-->
<!--            <div style="color:black">Null Check<div>-->
<!--                <br>-->
<!--            <b>Result:</b> Total {{ Null_display[0]['records'] }} Records found with Null Value(s)-->
<!--                <br>-->
<!--            Table <b> {{ Null_display[0]['table'] }}</b>-->
<!--             <br>-->
<!--            Top 10 Null-->
<!--            <table style="margin: 1em 0;-->
<!--            width: 50%;-->
<!--            overflow: hidden;-->
<!--            background: #FFFFFF;-->
<!--              border-collapse: collapse;-->
<!--            border: 1px solid black;-->
<!--            display: table;-->
<!--            border-spacing: 2px;-->
<!--            border-color: grey;color:black;" >-->

<!--            {% for row in Null_display[0]['data'] %}-->
<!--                {% if loop.index == 1 %}-->

<!--                    <tr style="border:1px solid black; font-weight:bold">-->
<!--                {% else %}-->
<!--                    <tr style="border:1px solid black">-->
<!--                {% endif %}-->

<!--                    {% for each_val in row %}-->
<!--                    <td align="center" style="border:1px solid black;text-align:left">-->
<!--                        {{each_val}}</td>-->
<!--                    {% endfor %}-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--            </table>-->
<!--        {% else %}-->

<!--                {% for each_tables in Null_display %}-->
<!--                       <div style="color:black">Null Check<div>-->
<!--                    <br>-->
<!--                    <b>Result:</b> Total {{ each_tables['records'] }} Records found with Null Value(s)-->
<!--                    <br>-->
<!--                    Table <b>{{ each_tables['table'] }}</b>-->
<!--                     <br>-->
<!--                           Top 10 Null-->
<!--                    <table style="margin: 1em 0;-->
<!--            width: 50%;-->
<!--            overflow: hidden;-->
<!--            background: #FFFFFF;-->
<!--              border-collapse: collapse;-->
<!--            border: 1px solid black;-->
<!--            display: table;-->
<!--            border-spacing: 2px;-->
<!--            border-color: grey;color:black;">-->
<!--                        {% for each_row in each_tables['data'] %}-->
<!--                        {% if loop.index == 1 %}-->

<!--                            <tr style="border:1px solid black; font-weight:bold">-->
<!--                        {% else %}-->
<!--                            <tr style="border:1px solid black">-->
<!--                        {% endif %}-->


<!--                                {% for each_val in each_row %}-->
<!--                                    <td align="center" style="border:1px solid black;text-align:left">{{ each_val }}</td>-->
<!--                                {% endfor %}-->
<!--                            </tr>-->

<!--                        {% endfor %}-->

<!--                    </table>-->
<!--                    <br/><br/>-->
<!--                {% endfor %}-->

<!--        {% endif %}-->
<!--    {% endif %}-->
<!--    {% if Dup_display %}-->
<!--        {% if Null_display |length == 1 %}-->
<!--                           <div>One Defected Columns</div>-->
<!--                           <div style="color:black">Duplicate Check<div>-->
<!--                <br>-->
<!--             <b>Result:</b>{{ Null_display[0]['records'] }}Duplicate Records-->
<!--                <br>-->
<!--            Table <b> {{ Null_display[0]['table'] }}</b>-->
<!--             <br>-->
<!--            Top 10 Duplicates-->
<!--            <table style="margin: 1em 0;-->
<!--            width: 50%;-->
<!--            overflow: hidden;-->
<!--            background: #FFFFFF;-->
<!--              border-collapse: collapse;-->
<!--            border: 1px solid black;-->
<!--            display: table;-->
<!--            border-spacing: 2px;-->
<!--            border-color: grey;color:black;" >-->

<!--            {% for row in Dup_display[0]['data'] %}-->
<!--                {% if loop.index == 1 %}-->
<!--                    <tr style="border:1px solid black;font-weight:bold">-->
<!--                 {% else %}-->
<!--                     <tr style="border:1px solid black">-->
<!--                {% endif %}-->
<!--                    {% for each_val in row %}-->
<!--                    <td align="center" style="border:1px solid black;text-align:left">-->
<!--                        {{each_val}}</td>-->
<!--                    {% endfor %}-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--            </table>-->
<!--        {% else %}-->
<!--                   {% for each_tables in Dup_display %}-->
<!--                       <div style="color:black">Null Check<div>-->
<!--                    <br>-->
<!--                    <b>Result:</b> Total {{ each_tables['records'] }} Records found with Null Value(s)-->
<!--                    <br>-->
<!--                    Table <b>{{ each_tables['table'] }}</b>-->
<!--                     <br>-->
<!--                           Top 10 Null-->
<!--                    <table style="margin: 1em 0;-->
<!--            width: 50%;-->
<!--            overflow: hidden;-->
<!--            background: #FFFFFF;-->
<!--              border-collapse: collapse;-->
<!--            border: 1px solid black;-->
<!--            display: table;-->
<!--            border-spacing: 2px;-->
<!--            border-color: grey;color:black;">-->
<!--                        {% for each_row in each_tables['data'] %}-->
<!--                        {% if loop.index == 1 %}-->

<!--                            <tr style="border:1px solid black; font-weight:bold">-->
<!--                        {% else %}-->
<!--                        <tr style="border:1px solid black">-->
<!--                        {% endif %}-->


<!--                                {% for each_val in each_row %}-->
<!--                                    <td align="center" style="border:1px solid black;text-align:left">{{ each_val }}</td>-->
<!--                                {% endfor %}-->
<!--                            </tr>-->

<!--                        {% endfor %}-->

<!--                    </table>-->
<!--                    <br/><br/>-->
<!--                {% endfor %}-->
<!--        {% endif %}-->
<!--    {% endif %}-->



</div>
</body>
</html>