/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin:0px;
}

.my-class .mat-dialog-container{
    border-radius: 4px;
    border: solid 1px #979797;
    background-color: #ffffff;

}