<app-navbarlogout></app-navbarlogout>
<div class="body">
<mat-card class="card">
  <!-- <h1 class="heading">Get Started</h1> -->
  <!-- <button  [color]="'success'" (click)="ToHome()" mat-button>Upload Your File</button> -->
<div  class="droppanel">
  
  <mat-accordion *ngFor="let i of all_test_suite ;let x = index ">
    <mat-expansion-panel class="dropdown" 
    (opened)="suitestatusopen(x)"
    (closed)="suitestatusclose(x)"
    [expanded]="checkstatus(x)">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="i.test_suite_name !='undefined'"  class="panel_title"> <!-- TODO: USE *ngIf-->
        {{i.test_suite_name}}
        </mat-panel-title>
        <mat-panel-title *ngIf="i.test_suite_name =='undefined' "  class="panel_title"> <!-- TODO: USE *ngIf-->
          Test Suite{{x+1}}
          </mat-panel-title>
        <mat-panel-description class="panel_title1" [@divState]= "state">
            <div class="paneldesc"> {{ i.excel_name }},<b class="bold">Uploaded At:</b> {{ i.created | date:'medium'}}
          </div>
          
         <button mat-mini-fab [disabled]="!playButtons[x] || !show[x]" (click)="executeTestCase(i.test_suite_id,$event,x)" color="black" class="btnplay" > 
            <i class="material-icons">
              <div *ngIf="playButtons[x]">
                  play_circle_outline
              </div>
              <div *ngIf="!playButtons[x]" >
                  pause
              </div>
            </i>
          </button> 

          </mat-panel-description>
    
          </mat-expansion-panel-header>
            <!-- test_case_list from backend -->
          <div *ngFor="let each_test of i.test_case_list;let z = index"> 
            <mat-accordion  class="dropdownInsde1">
                <mat-expansion-panel [disabled]="each_test.test_status===0" [ngClass]="{'myOwnBgRed':each_test.test_status ==2 ,'myOwnBg':each_test.test_status ==1,'blue':each_test.test_status ==0,'red':each_test.test_status ==4,'myOwnBgOrange':each_test.test_status ==3 }">
                  <mat-expansion-panel-header>
                    <mat-panel-title  class="panel_title"> 
                      {{ each_test.test_id }}  <!-- test_name from backend-->
                    </mat-panel-title>
                    <mat-panel-description 
                    class="panel_title1">
                
                     TestStatus: 
                   <i  *ngIf="each_test.test_status == 0"    class="material-icons">
                    fiber_new
                    </i> 
                      <i *ngIf="each_test.test_status == 2"  class="material-icons">
                        cancel
                        </i> 
                        <i *ngIf="each_test.test_status == 3"  class="material-icons">
                            refresh
                          </i> 
                          <i *ngIf="each_test.test_status == 1"  class="material-icons">
                            check_circle
                            </i> <b class="bold">{{each_test.test_name}} </b> 
                    <!-- break; --> 
                              <button [disabled]="!playButtons2[x][z] || !show2[x]"  (change)="ngOnChanges(x)" mat-mini-fab (click)="executeTestByCaseId(each_test.test_case_id,$event,z,x)"  color="black"  class="btnplay1"> 
                              <i  class="material-icons">
                            <div *ngIf="playButtons2[x][z]">play_circle_outline</div>
                            <div *ngIf="!playButtons2[x][z]"> pause </div>
                              </i>  
                            </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table  class="t1" cellspacing=22>
                    <tr class="table1">
                   
                      <th>Test Case ID</th>
                      <th>Test Execution_status</th>
                      <th>Executed At</th>
                      <th>Log</th>
                   
                    </tr>
                    <tr class="rowforesult" *ngFor="let case_log of each_test.test_case_log "
                    [ngStyle]="{'background-color':getcolor(case_log.test_execution_status)}"
                    >
                      <td>{{case_log.test_case_id}}</td>
                      <td *ngIf="case_log.test_execution_status== 0">New</td>
                      <td *ngIf="case_log.test_execution_status== 1" >Pass</td>
                      <td *ngIf="case_log.test_execution_status== 2" >Fail</td>
                      <td *ngIf="case_log.test_execution_status== 4">Error</td>
                      <td *ngIf="case_log.test_execution_status== 3">Waiting</td>
                      <td> {{ case_log.executed_at | date:'short' }}</td>
                      <td><button  mat-button (click)="showlog(each_test.test_name,each_test.table_src,each_test.table_target,case_log)"><i class="material-icons">
                        dehaze
                        </i></button></td>
                    </tr>
                              </table>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          

      <!--  this has the logic to write inside the expansion.-->
    </mat-expansion-panel>
    <!--  first expansion got closed here.-->
  </mat-accordion>
  <!-- <pagination-controls class="page" (pageChange)="p = $event"></pagination-controls> -->
  <button  matTooltip="Go To Top" (click)="topFunction()" id="myBtn" ><i class="material-icons">
      keyboard_arrow_up
      </i></button>
</div>
</mat-card>
</div>
