.card{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    min-height:100vh;
    overflow:auto;
    color:whitesmoke;
    background-color: #ffffff;
    padding: 0;
}
.droppanel{  
    margin-top:15px;
    width:80%;
}
.dropdown{     /*outer matExpansion todo:padding 2 2 for maxwidth 600*/ 
    margin-bottom:15px;
    padding:0rem 1rem;
    vertical-align: center;
    border-radius: 11px;
    border: solid 1px #eee;
    background-color: #ffffff;
    /* background-color: rgb(236, 232, 99) */
}
.panel_title-outer{
   display: flex;
   justify-content: center;
   flex-direction: column;
    font-family:'OpenSans-SemiBold',sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;

}
.bold{
    display: contents;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
    
}
.btn-container-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto; 
}
.panel-desc-outer{
    display:flex;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Source Sans-Regular', sans-serif;
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
   
}

.mat-panel-header{
    padding:0rem;
    /* height:auto !important; */
}
.mat-panel-header-inside{
    padding:0rem; 
}
.btn-play-outer{
    margin: 0px;

    width: 28px;
    height: 27.2px;
}
.dropdownInside{
 /* border-radius: 11px; */
 border: solid 1px #e6e6e6;
 background-color: #ffffff;
 padding:0.3rem 1rem;
    vertical-align: center;
    border-radius: 11px;
 
}
.panel-description{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: 'OpenSans-Regular',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f1f1f;
  
}
.panel-title-inside{
    font-family:'OpenSans-Bold',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #686868;
}   
.btnplay-inside{
    margin: 0px;
   
}
/* .btnplay-inside:hover{
    background-color: #4d4a4a

} */
.paneldesc{
   
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;

    flex-basis: 60%;
    align-self: flex-end;
}
.panel-desc-inside{
    display:flex;
    flex-basis: 60%;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Source Sans-Regular', sans-serif;
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;

}

@media screen and (max-width:600px){
    .droppanel{
        margin-top:15px;
        width:100%;
    }
    .dropdown{
        margin-bottom:15px;
        padding:2rem 2rem;
        vertical-align: center;
        border-radius: 11px;
        border: solid 1px #eee;
        background-color: #ffffff;  
    }
    .card{
        display: flex;
        flex-direction: row;
        justify-content:center;
        float:left;
        width:100%;
        min-height:100vh;
        overflow:auto;
        color:whitesmoke;
        background-color: #eee
    }
    .dropdownInside{
        border: solid 1px #e6e6e6;
        background-color: #ffffff;
        padding:2rem 2rem;
           vertical-align: center;
           border-radius: 11px;
    }
    .btn-play-outer{
        
    }
    .btnplay-inside{
        /* margin-left:auto;
        margin-top:auto;
        margin-bottom: auto; */
    }    
    .panel-description{
        font-family: 'OpenSans-Regular',sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #1f1f1f;
      display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
        flex-basis: 55%;
        align-self: flex-end;
    }
    .panel-desc-outer{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        font-size:18px;
        margin:auto;
    }
    .panel-desc-inside{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        font-size:18px;
        margin:auto;

    }

}
.page{
    -webkit-text-fill-color: white;

}
 
 
.t1{

    margin-bottom: 25px;
    width:auto;
   
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border-radius: 13px;
    border: solid 1px #e5dbce;
    background-color: #ffffff;
  }

.tableheading{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1f1f1f;
  }
  .tableheader-test-execution{
    border-radius: 16.5px;
    font-family: 'OpenSans-Bold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left:15px;
  }
  .tableheader-test-date{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8d8d8d;
  }

  .rowforesult{
      color:black;
      font-family: 'OpenSans-Regular',sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1f1f1f;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FFF222; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 17px; /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(224, 66, 17); /* Add a dark-grey background on hover */
} 

.blue{
    color:rgb(83, 175, 228);
    

}


.orange{
    background-color: rgb(218, 87, 40);
    border-radius: 25px;
    border-bottom: 1px solid black;
}
.green{
background-image: linear-gradient(to bottom right, #8df714, #65911e); 

  border-radius: 25px;
  border-bottom: 1px solid black;
}

.testname{
    margin-right: 5px; 
     margin-left:10px;
     margin-top:10px;
     font-family: 'OpenSans-SemiBold',sans-serif;
  font-size: 14px;
  font-weight: 300px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
 

}
.myOwnBg{
    color: #2ecca4
}
.myOwnBgRed{
  color:rgb(245, 124, 76)

}
.myOwnBgOrange{
    color: #F7861B;
}
.yellow{
    background-color: yellow;
}
.redbg{
    background-color: rgb(240, 72, 11)
}
.greenbg{
    background-color: #8df714
}
