.body{
display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.form{
  min-width:400px;
  
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
}