<!-- <app-navbar></app-navbar> -->
<div class="body">
        <img class="Acciom" src="/assets/images/group.png" /> 

    <mat-card class="card">
            
        <form class="form" [formGroup]="createForm">
        
            <mat-form-field class="example-full-width">
                <input type="text" autocomplete="off" matInput placeholder="email*" formControlName="email">
                <mat-error>please enter valid email</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="text" autocomplete="off" matInput placeholder="First Name*" formControlName="first_name">
                <mat-error>please enter valid name</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="text" autocomplete="off" matInput placeholder="Last Name*" formControlName="last_name">
                <mat-error>please enter valid name</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input type="password" autocomplete="off" matInput placeholder=" Password*" formControlName="password">
                <mat-error>please enter valid password</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width-lname">
                <input matInput  type="password"  placeholder=" Confirm Password" formControlName="cpassword">
                </mat-form-field>
                <div  class="btn-class">
                    <button mat-raised-button (click)="GoBack()" class="gobackbtn" ><div class="Log-in">Cancel</div></button>
                    <button mat-raised-button (click)="signIn()" [disabled]='!createForm.valid' class="loginbtn" ><div class="Log-in">Signup</div></button>
                </div>
            
            
        </form>

    </mat-card>
</div>
