.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  background-color: #000000;
  
  }
  .Acciom{
    font-family: Raleway;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.6px;
    color: #ffffff;
  }
  .card{
    margin-top:2%;
    border-radius: 24px;
    border: solid 1px #979797;
    background-color: #ffffff;
    /* width:43%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  
  .heading{
    text-align: center;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
  }
  .form {
     
      min-width:400px;
    
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      justify-content:center;
    }
  
     @media screen and (max-width:400px)
  {
    .form{
      min-width:200px;
    
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      justify-content:center;
    }
  }
    
    .example-full-width {
      
      flex:1 1 0;
     
    }
  
    .register{
      font-family: 'Open Sans', sans-serif;
      position:relative;
      text-align:center;
      color:red;
  
    }
  
    .loginbtn{
      display: flex;
      text-align: center;
      
      width: 90px;
      height: 30px;
      margin-left:auto;
      border-radius: 8px;
      background-color: #b72e34;
    }
    .gobackbtn{
      display: flex;
      text-align: center;
      
      width: 90px;
      height: 30px;
      margin-right:auto;
      border-radius: 8px;
      background-color: #b72e34;
    }
    .Log-in{
      
      font-family: "Avenir";
      font-size: 17px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: justify;
      color: #f5f5f5;
    
    }
    .btn-class{
      display: flex;
      justify-content: space-evenly;
    }
    